/*Exercice1*/
/**/
/*
.container
{
	background-color: #000;
	width: 700px;
	height: 550px;
	text-align: center;
}
*/

/*2*/
.container
{
	background-color: #000;
	width: 700px;
	height: 630px;
	text-align: center;
}

.image > img
{
	border: 1px solid transparent;
	margin-top: 10px;
}


.image > img:hover
{
	border: 1px solid white;
}
