header
{
	position: relative;
	margin: 0 auto;
	width: 940px;
	/*border: 1px solid black;*/
}

#titre
{
	display: inline-block;
	vertical-align: top;
	border: 1px solid blue;
}

nav
{
	display: inline-block;
	text-align: right;
	border: 1px solid blue;
	margin-left: 400px;
}

nav > ul > li
{
	display: inline;
}

section
{
	position: relative;
	margin: 0 auto;
	width: 940px;
	/*border: 1px solid black;*/
}

#table
{
	width: 200px;
	display: inline-block; /*mettre les elements qu'on veut alligner en inline-block*/
    vertical-align: top;
	border: 1px solid black;
}

article
{
	border: 1px solid blue;
}

article > h2
{
	width: 200px;
	border: 1px solid green;
}

article > p
{
	vertical-align: top;
	width: 500px;
	display: inline-block;
    border: 1px solid blue;
}

article > img
{
	display: inline-block;
	border: 1px solid red;
}

aside
{
    width: 200px;
	display: inline-block;
    border: 1px solid black;
    vertical-align: top;
}

footer
{
	position: relative;
	border: 1px solid red;
	width: 940px;
	text-align: center;
	margin: 0 auto;
}
